<% if @view_in_config && @erb_code %>
  <%= render inline: ERB.new(@erb_code).result(binding) %>
  
<% else %>
<div class="pagination"><%= will_paginate models %></div>

<table class="table table-striped">
  <tr>
    <th>#</th>
    <th><%= t('Customer') %></th>
    <th><%= t('Project Name') %></th>
    <th><%= t('Server#') %></th>
    <th><%= t('Project Status') %></th>
    <th><%= t('Develop Start Date') %></th>
    <th><%= t('Develop Finish Date') %></th>
    <th><%= t('Initial Online Date') %></th>
    <th><%= t('Fully Online Date') %></th>
    <th><%= t('Cancelled') %></th>
    <th><%= t('Decommissioned') %></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% models.each do |r| %>
  <tr>
    <% if has_action_right?('show', params[:controller], r) %>
        <td><%= link_to r.id, SUBURI + "/authentify/view_handler?index=1&url=#{project_path(r)}"  %></td>
    <% else %>
        <td><%= r.id %></td>
    <% end %>
  	<% if has_action_right?('show',InfoServiceProjectx.customer_class.to_s.underscore.pluralize, r.customer ) %>
  	  <td><%= link_to r.customer.short_name, SUBURI + "/authentify/view_handler?index=1&url=#{SUBURI + CGI::escape(kustomerx.customer_path(id: r.customer_id))}"  %></td>
  	<% else %>
  	  <td><%= prt(r, 'customer.short_name') %></td>
  	<% end %>  	    
    <td><%= prt(r, :name) %></td> 
    <td><%= prt(r, :service_num) %></td>
    <td><%= prt(r, 'status.name') if r.status_id.present? %></td>
    <td><%= r.develop_start_date.strftime("%Y/%m/%d") if r.develop_start_date.present? %></td>
    <td><%= r.develop_finish_date.strftime("%Y/%m/%d") if r.develop_finish_date.present? %></td>
    <td><%= r.initial_online_date.strftime("%Y/%m/%d") if r.initial_online_date.present? %></td>
    <td><%= r.fully_online_date.strftime("%Y/%m/%d") if r.fully_online_date.present? %></td>
    <td><%= r.cancelled ? t('Yes') : t('No') %></td>
    <td><%= r.decommissioned ? t('Yes') : t('No') %></td>
    <td><%= link_to t('Base Onboard-Engine Config'), SUBURI + "/authentify/view_handler?index=1&url=#{SUBURI + CGI.escape(onboard_data_uploadx.engine_configs_path(:project_id => r.id))}" , :class => BUTTONS_CLS['action']   if has_action_right?('index', 'onboard_data_uploadx/engine_configs')  %></td>
    <td><%= link_to t('Onboard-Engine Config'), SUBURI + "/authentify/view_handler?index=1&url=#{SUBURI + CGI.escape(onboard_datax.onboard_engine_configs_path(:project_id => r.id))}" , :class => BUTTONS_CLS['action']   if has_action_right?('index', 'onboard_datax/onboard_engine_configs')  %></td>
    <td><%= link_to t('Base Onboard-User Access'), SUBURI + "/authentify/view_handler?index=1&url=#{SUBURI + CGI.escape(onboard_data_uploadx.user_accesses_path(:project_id => r.id))}" , :class => BUTTONS_CLS['action']   if has_action_right?('index', 'onboard_data_uploadx/user_accesses')  %></td>
    <td><%= link_to t('Onboard-User Access'), SUBURI + "/authentify/view_handler?index=1&url=#{SUBURI + CGI.escape(onboard_datax.onboard_user_accesses_path(:project_id => r.id))}" , :class => BUTTONS_CLS['action']   if has_action_right?('index', 'onboard_datax/onboard_user_accesses')  %></td>
    <td><%= link_to t('Base Onboard-Engine Init'), SUBURI + "/authentify/view_handler?index=1&url=#{SUBURI + CGI.escape(onboard_data_uploadx.engine_inits_path(:project_id => r.id))}" , :class => BUTTONS_CLS['action']   if has_action_right?('index', 'onboard_data_uploadx/engine_inits')  %></td>
    <td><%= link_to t('Onboard-Engine Init'), SUBURI + "/authentify/view_handler?index=1&url=#{SUBURI + CGI.escape(onboard_datax.onboard_engine_inits_path(:project_id => r.id))}" , :class => BUTTONS_CLS['action']   if has_action_right?('index', 'onboard_datax/onboard_engine_inits')  %></td>
    <td><%= link_to t('Base Onboard-Search/Stat Config'), SUBURI + "/authentify/view_handler?index=1&url=#{SUBURI + CGI.escape(onboard_data_uploadx.search_stat_configs_path(:project_id => r.id))}" , :class => BUTTONS_CLS['action']   if has_action_right?('index', 'onboard_data_uploadx/search_stat_configs')  %></td>
    <td><%= link_to t('Onboard-Search/Stat Config'), SUBURI + "/authentify/view_handler?index=1&url=#{SUBURI + CGI.escape(onboard_datax.onboard_search_stat_configs_path(:project_id => r.id))}" , :class => BUTTONS_CLS['action']   if has_action_right?('index', 'onboard_datax/onboard_search_stat_configs')  %></td>
    <td><%= link_to t('Team Members'), SUBURI + "/authentify/view_handler?index=1&url=#{SUBURI + CGI.escape(resource_allocx.allocations_path(:resource_id => r.id, :resource_string => params[:controller], :detailed_resource_category => 'team_member'))}" , :class => BUTTONS_CLS['action']   if has_action_right?('index', 'resource_allocx/allocations')  %></td>
    <td><%= link_to t('Team Members'), SUBURI + "/authentify/view_handler?index=1&url=#{SUBURI + CGI.escape(resource_allocx.allocations_path(:resource_id => r.id, :resource_string => params[:controller], :detailed_resource_category => 'team_member'))}" , :class => BUTTONS_CLS['action']   if has_action_right?('index_team_member', 'resource_allocx/allocations')  %></td>
    <td><%= link_to t('Engines'), SUBURI + "/authentify/view_handler?index=1&url=#{SUBURI + CGI.escape(resource_allocx.allocations_path(:resource_id => r.id, :resource_string => params[:controller], :detailed_resource_category => 'engine' ))}" , :class => BUTTONS_CLS['action']   if has_action_right?('index', 'resource_allocx/allocations')  %></td>
    <td><%= link_to t('Engines'), SUBURI + "/authentify/view_handler?index=1&url=#{SUBURI + CGI.escape(resource_allocx.allocations_path(:resource_id => r.id, :resource_string => params[:controller], :detailed_resource_category => 'engine' ))}" , :class => BUTTONS_CLS['action']   if has_action_right?('index_engine', 'resource_allocx/allocations')  %></td>
    <td><%= link_to t('Role Definitions'), SUBURI + "/authentify/view_handler?index=1&url=#{SUBURI + CGI.escape(project_misc_definitionx.misc_definitions_path(:project_id => r.id, :definition_category => 'role_definition', :subaction => 'role_definition' ))}" , :class => BUTTONS_CLS['action']   if has_action_right?('index_role_definition', 'project_misc_definitionx/misc_definitions')  %></td>
    <td><%= link_to t('Role Definitions'), SUBURI + "/authentify/view_handler?index=1&url=#{SUBURI + CGI.escape(project_misc_definitionx.misc_definitions_path(:project_id => r.id, :definition_category => 'role_definition'))}" , :class => BUTTONS_CLS['action']   if has_action_right?('index', 'project_misc_definitionx/misc_definitions')  %></td>
    <td><%= link_to t('Edit'), SUBURI + "/authentify/view_handler?index=1&url=#{edit_project_path(r)}" , :class => BUTTONS_CLS['action']   if has_action_right?('update', params[:controller], r )  %></td>
    
  </tr>
<% end %>
</table>

<table class="table table-striped">
  <tr>
    <th>
    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <%= link_to t('Back'), SUBURI + "/authentify/view_handler?index=0", :class => BUTTONS_CLS['action']  %>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    	<%= link_to t('New Project'), SUBURI + "/authentify/view_handler?index=1&url=#{new_project_path(:customer_id => @customer.id)}", :class => BUTTONS_CLS['action'] if @customer && has_action_right?('create', params[:controller]) %>
    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    	<%= link_to t('New Project'), SUBURI + "/authentify/view_handler?index=1&url=#{new_project_path}", :class => BUTTONS_CLS['action'] if @customer.nil? && has_action_right?('create', params[:controller]) %>
    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    	<%= link_to t('Search'), SUBURI + "/authentify/view_handler?index=1&url=#{search_projects_path}", :class => BUTTONS_CLS['action'] if has_action_right?('search', params[:controller]) %>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    	<%= link_to t('Stats'), SUBURI + "/authentify/view_handler?index=1&url=#{stats_projects_path}", :class => BUTTONS_CLS['action'] if has_action_right?('stats', params[:controller]) %>
    </th>
  </tr>
</table>

<% end %>



