<div class="fields">
  <%= f.input :user_id, :label => t('Project Member'), :collection => Authentify::UsersHelper::return_users('project_member', 'info_service_projectx_projects'), 
              :label_method => :name, :value_method => :id, :include_blank => true, :readonly => readonly?(@project, 'user_id') %>
  <%= f.input :project_role_id, :label => t('Project Role'),:collection => Commonx::CommonxHelper.return_misc_definitions('project_role'), :label_method => :name, :value_method => :id,
              :include_blank => true unless readonly?(@project, 'project_role_id') %>
  <%= f.input :project_role_lead, :label => t('Role Lead'), :as => :boolean unless readonly?(@project, 'project_role_lead') %>
  <%= f.input :brief_note, :label => t('Brief Note'), :input_html => {:rows => 2}, :readonly => readonly?(@project, 'brief_note') %>
  <% if @skip_in_new %>
    <%= f.input :user_id_noupdate, :label => t('Member'), :input_html => {:value => @project.user.name} if readonly?(@project, 'user_id') %>
    <%= f.input :project_role_id_noupdate, :label => t('Project Role'),:input_html => {:value => @project.project_role.name} if readonly?(@project, 'project_role_id') %>
    <%= f.input :project_role_lead_noupdate, :label => t('Role Lead') if readonly?(@project, 'project_role_lead') %>
    <%= f.input :active_noupdate, :label => t('Active') if readonly?(@project, 'active') %>
    <%= f.input :active, :label => t('Active'), :as => :boolean unless readonly?(@project, 'active') %>
    <%= f.input :active_end_date, :label => t('Active End Date'), :as => :date, :start_year => Date.today.year - 1, :end_year => Date.today.year + 1, 
                :use_month_numbers => true, :include_blank => true unless readonly?(@project, 'active_end_date') %>
    <%= f.input :active_end_date, :label => t('Active End Date'), :as => :string, :readonly => true if readonly?(@project, 'active_end_date') %>
  <% end %>
  <%= link_to_remove_fields "Delete Project Member", f %>
</div>