<% if @view_in_config && @erb_code %>
  <%= render inline: ERB.new(@erb_code).result(binding) %>
  
<% else %>
<div id="main_body">
<h4><%= @title %></h4>

<p>
  <b><%= t('Project Name') %></b>
  <%= @project.name %>
</p>
<p>
  <b><%= t('Service Number') %></b>
  <%= @project.service_num %>
</p>
<p>
  <b><%= t('Customer') %></b>
  <%= @project.customer.name %>
</p>
<p>
  <b><%= t('Status') %></b>
  <%= @project.status.try(:name) if @project.status_id.present? %>
</p>
<p>
  <b><%= t('Project Category') %></b>
  <%= @project.project_category.try(:name) if @project.project_category_id.present? %>
</p>
<p>
  <b><%= t('Sales') %></b>
  <%= @project.customer.sales.name if @project.customer.sales_id.present? %>
</p>
<p>
  <b><%= t('Last Updated By') %></b>
  <%= @project.last_updated_by.name %>
</p>
<p>
    <b><%= t('Develop Start Date') %></b>
    <%= @project.develop_start_date.strftime('%Y/%m/%d') if @project.develop_start_date.present? %>
</p>
<p>
    <b><%= t('Develop Finish Date') %></b>
    <%= @project.develop_finish_date.strftime('%Y/%m/%d') if @project.develop_finish_date.present? %>
</p>
<p>
    <b><%= t('Project Description') %></b>
    <%= @project.project_desp %>
</p>

<p>
    <b><%= t('Cancelled') %></b>
    <%= @project.cancelled ? t('Yes') : t('No') %>
</p>
<p>
    <b><%= t('Cancell Date') %></b>
    <%= @project.cancelled_date.strftime('%Y/%m/%d') if @project.cancelled_date.present? %>
</p>
<p>
    <b><%= t('Cancell Reason') %></b>
    <%= @project.cancell_reason %>
</p>
<p>
    <b><%= t('Decommissioned') %></b>
    <%= @project.decommissioned ? t('Yes') : t('No') %>
</p>
<p>
    <b><%= t('Decommission Date') %></b>
    <%= @project.decommissioned_date.strftime('%Y/%m/%d') if @project.decommissioned_date.present? %>
</p>
<p>
    <b><%= t('Decommission Reason') %></b>
    <%= @project.decommission_reason %>
</p>
<p>
  <b><%= t('LOG：') %></b>
  <% Commonx::Log.where('resource_id = ? AND resource_name = ?', @project.id, params[:controller].sub('/', '_')).order("created_at DESC").each do |t| %>
    <li><%= t.created_at.strftime("%Y/%m/%d") %>,&nbsp; <%= t.last_updated_by.name %>,&nbsp; <%= t.log %></li>
  <% end %>
</p>

<table class="table table-striped">
  <tr>
    <th>
    	<%= link_to t('Back'), SUBURI + "/authentify/view_handler?index=0", :id => 'close', :class => BUTTONS_CLS['action'] %>
    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    	<%= link_to t('Check Config Argument'), SUBURI + "/authentify/view_handler?index=1&url=#{engine_for_config_check_projects_path(project_id: @project.id)}", :id => 'btn1_link', :class => BUTTONS_CLS['action'] %>
    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    	<%= link_to t('Check User Access'), SUBURI + "/authentify/view_handler?index=1&url=#{engine_for_access_check_projects_path(project_id: @project.id)}", :id => 'btn2_link', :class => BUTTONS_CLS['action'] %>
    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    	<%= link_to t('New Log'), SUBURI + commonx.new_log_path(:resource_id => @project.id, :resource_name => params[:controller], :subaction => 'project',
    	     :format => :js), :remote => true, :id => 'new_log_link' , :class => BUTTONS_CLS['action'] if has_action_right?('create_project', 'commonx/logs') %>
    </th>
  </tr>
</table>

</div>

<% end %>
